.Image{
    float: left;
    width:200px;
    height:450px;
    margin: 25px;
    background-color: floralwhite;
    border:2px solid black;
    box-shadow: 5px -2px 2px gainsboro;
    padding: 5px;
}
.DisplayImg{
    height:200px;
    width:200px;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
.DisplayImg img{
    width:200px;
    height:200px;
}
.ImgDetails{
    width: 200px;
    height: 350px;
    margin-top: 50px;
    text-align: justify;
}
.heading{
    text-align: center;
    color:brown;
    font-weight: bolder;
    font-size: large;
    text-shadow: 1px 1px gray;
}